/.idea/.gitignore
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/a/7/a709fcd3207e861130287db419a88493b2fd6441
/.idea/sonarlint/securityhotspotstore/a/7/a709fcd3207e861130287db419a88493b2fd6441
/.idea/appium.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
